- extends 'layout.pug'

- block body

h1 About Us
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur assumenda explicabo illo quis quidem mollitia sint amet ipsam incidunt neque, ea laudantium. Voluptate itaque, aliquam doloribus temporibus iusto in voluptatem.

- endblock